{% load render_bundle from webpack_loader %} {% block main %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'base/assets/img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/assets/lib/stroke-7/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'base/assets/css/app.css' %}" type="text/css" />
    <title>Document</title>
</head>

<body>
    <div id="root"></div>
    {% render_bundle 'vendors' %} {% render_bundle 'Root' %} {% endblock %}

    <script src="{% static 'base/assets/lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'base/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'base/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'base/assets/js/app.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();

        });
    </script>
</body>

</html>